<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.stackwidget">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:label="WidgetTest">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".StackWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stackwidgetinfo" />
        </receiver>

        <receiver
            android:name=".ListWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/listwidgetinfo" />
        </receiver>

        <service
            android:name=".StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Not effective -->
<!--        <receiver-->
<!--            android:name=".LocaleChangedReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.LOCALE_CHANGED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>
</manifest>